# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Office temporary / lock files
~$*.pptx
~$*.docx
~$*.xlsx

/Codes/FPGA Flow/work/
Codes/FPGA Flow/top.ucdb
.gitignore
Codes/FPGA Flow/transcript
Codes/FPGA Flow/vish_stacktrace.vstf
Codes/FPGA Flow/vsim.wlf
Codes/FPGA Flow/.vscode/settings.json
Codes/FPGA Flow/.vscode/tasks.json
Codes/FPGA Flow/work/@_opt3/_lib1_0.qdb

